.ToolbarContainer {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  -webkit-app-region: drag;
  height: 37px;
  line-height: 36px;
  _text-align: center;
  _background: red;
  _background: linear-gradient(#e8e7ea, #dad8db);
  _background: #e8e7ea;
}
