.ToolbarHeader {
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
  border-bottom: 1px solid rgb(187, 186, 188);
}

.ToolbarHeader--title {
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 2.6pt 0 0 0;
  _font-size: 9.56pt;
  font-weight: 400;
  _letter-spacing: 0.042pt;
  text-align: center;
  color: #423F42;
  cursor: default;
  height: 14px;

  /* Window Title: */
  font-size: 13px;
  color: #423F42;
  letter-spacing: -0.31px;
}
